@tailwind base;
@tailwind components;
@tailwind utilities;


.width{
    width: 375px;
}
.font{
    font-family: "poppins",Arial, Helvetica, sans-serif;
    
}
.fontweight700{
    font-weight: 700;
}
.fontweight600{
    font-weight: 600;
}
.fontweight500{
    font-weight: 500;
}
.fontweight400{
    font-weight: 00;
}

.Red{
    color: hsl(0, 100%, 74%);
}

.bg-Red{
    background-color: hsl(0, 100%, 74%);
}

.Green{
    color: hsl(154, 59%, 51%);
}

.bg-green{
    background-color: hsl(154, 59%, 51%);
}

.blue{
    color: hsl(248, 32%, 49%);
}

.bg-blue{
    background-color: hsl(248, 32%, 49%);
}

.dark-Blue{
    color:hsl(249, 10%, 26%);
}
.fs{
    font-size: 9px;
}
.bg-dark-Blue{
    background-color: hsl(249, 10%, 26%);
}

.grayish-Blue{
    color: hsl(246, 25%, 77%);
}

.bg-grayish-Blue{
    background-color: hsl(246, 25%, 77%);
}

.background-mobile{
    background-image: url("images/bg-intro-mobile.png");
    background-color: hsl(0, 100%, 74%);
}

.background-desktop{
    background-image: linear-gradient(hsla(0, 100%, 74%, 0.6), hsla(0, 100%, 74%, 0.6)),
    url("images/bg-intro-desktop.png");
}
::placeholder{
    color: red;
}