@tailwind base;
@tailwind components;
@tailwind utilities;


nav{
    font-family:Arial, Helvetica, sans-serif;
}


.nav-links{
    display: none;
}

.nav-links.responsive{
    display: block;
}

.bg-main{
    background-image: url("bg-main-desktop.png");
}

.main{
    background-image: url("https://images.unsplash.com/photo-1514810771018-276192729582?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNreSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
    background-size:cover;
}
.form{
    font-family: "Abril+Fatface";
}
.height{
    height: 700px;
}