@tailwind base;
@tailwind components;
@tailwind utilities;


.lexend{
    font-family:'Lexend Deca', sans-serif;
    font-weight: 400;
}

.big{
    font-family:'Big Shoulders Display';
    font-weight: 700;
}

.bg-bright-orange{
    background-color: hsl(31, 77%, 52%);
}

.bg-dark-cyan{
    background-color: hsl(184, 100%, 22%);
}

.bg-very-dark-cyan{
    background-color: hsl(179, 100%, 13%);
}

.text-color{
    color: hsla(0, 0%, 100%, 0.75);
}
.height{
    height: 475px;
    width: 290px;
}
.text-orange{
    color: hsl(31, 77%, 52%);
}
.text-dark-cyan{
    color: hsl(184, 100%, 22%) ;
}
.margin-top{
    margin-top: 57px;
}
.text-very-dark-cyan{
    color: hsl(179, 100%, 13%);
}
